body {
    background-color: #020302;
    font-family: "Inter", sans-serif;
}

/* detail size font */
h4 {
    font: "inter";
    color:#dbd7d7;
    size: 6;


}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    width: 393px;
    height: 217px;
    background-color: #7e7d7d;
    margin: 12px 0;
}

.video-name {
    font-size: 20px;
    width: 100%;
    text-align: left;
    font-weight: bold;
    color: #f1f1f1;
    margin: 12px 0;
}

.user-name-container {
    width: 100%;
    margin: 12px 0;
}

.user-name-text {
    float: left;
    text-align: left;
    font-weight: bold;
    color: #f1f1f1;
}

.subscribe-button {
    float: right;
    background-color: #f1f1f1;
    border-radius: 21px;
    color: black;
    width: 85px;
    height: 37px;
}

.buttons-container {
    width: 100%;
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 0px;
    

}

.sub-container {
    display: flex;
    width: 100%;
    max-width: 393px;
    margin-left: 12px;
    margin-right: 12px;
    justify-content: left;
    /* placeholder for font color */
    color: #f1f1f1;

}

.chat-input {
    flex-direction: row;
    align-items: left;
}

.chat-feed {
    flex-direction: column;
    align-items: left;
    
}

/* for name entry */
input {
    display: inline;
    padding: 5px;
    margin: 10px 10px 0 0;
    height: 20px;
    border-radius: 21px;
    background-color: #1A1A1A;
    color: #ababab;
    font-size: 8;
    /* THESE ARE FOR NATIVE BORDERS AND STUFF */
    border: none;
    outline: none;
    

}

.chat-input-name {
    width: 25%;
}

.chat-input-msg {
    width: 60%;
    color: #ababab;
}

button {
    height: 32px;
    width: 64px;
    margin-right: 12px;
    margin-top: 10px;
    background-color: #313131;
    color:#ffffff;
    /* THIS REMOVES STYLING FROM NATIVE BUTTONS */
    border: none;
    border-radius: 10px;

    
    
}

.chat-box {
    border-radius: 14px;
    height: 329px;
    overflow: auto;
    background-color: #1A1A1A;
}


/* chat text styling */
p {
    overflow-wrap: break-word;
    font-size: 2;
    margin-left: 12px;
}

@media (max-width: 800px) {
    .sub-container {
        width: 100%;
    }
}



/* new styles for the interactive buttons */
.like-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.dislike-button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 32px;
}